<footer>
    <a href="#">Imprint</a>
    <div class="f-middlePart">
        <h2>Made with love in heart and popcorn in tummy.</h2>
        <img src="/img/heart.png" alt="heart">
    </div>
    <div class="f-rightPart">
        <img src="/img/yt.png" alt="ytlogo">
        <img src="/img/fb.png" alt="fblogo">
    </div>
</footer>