<header>
    <div class="leftPart">
        <a href="/">MMDb</a>
        <a href="/favorites"><img src="/img/star.png" alt="star"></a>
    </div>
    <div class="middlePart">
        <form action="/search" method="get">
            <input type="text" name="query" placeholder="e.g. The Godfather">
            <input type="submit" value="Submit">
        </form>
    </div>
    <div class="rightPart">
        <a href="/addmovie">Add your own</a>
    </div>
</header>