<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>MMDb | Home</title>
</head>
<body>
    <%- include("../partials/header.ejs") %> 
    <main>
        <section class="heroSection">
            <div class="heroText">
                <h2>MovieMagicDatabase has it all.</h2>
                <h3>But you can still <span class="outline">add</span> to it.</h3>
            </div>
        </section>
        <%- include("../partials/allmovies.ejs") %> 
    </main>
    <%- include("../partials/footer.ejs") %> 
</body>
</html>